Options -MultiViews
RewriteEngine On
RewriteBase /

# Skip real files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite everything else to index.html for SPA routing
RewriteRule ^ index.html [L]
