{% extends 'base.html' %}

{% block content %}
<title>{% block title %}History{% endblock %}</title>
  <h1>RSA History</h1>
  <p>
    Patrick Hale founded Racing Systems Analysis in 1985 to combine his keen interests in internal combustion engines, drag racing, and personal computers. After graduating with a Master's degree in Mechanical Engineering from Arizona State University, he joined the AlliedSignal Aerospace Corporation in 1976. He applied his engineering simulation experience with gas turbine engines and high-speed aircraft to the development of PC-based computer software for internal combustion engine performance modeling and drag race car simulation, initially in support of his own drag racing efforts. These popular software products allowed every racer to design and optimize their engines and vehicles on their PC instead of at the racetrack.
  </p>
<p>
  The RSA software products business was purchased by Don Terrill (Racing Secrets) in 2007, and Don continued to build on the brand and legacy. Following Don's passing in late-2018, the company sat idle for a few years before being purchased by Clinton Snead, with support from Hale, in 2022. Clinton brings a wealth of knowledge to the company through his Motorsports Engineering degree from Purdue University along with years of bracket racing and engine experience. Now the two have revamped each piece of software into an incredible new format with additional features and accessibility.
</p>
<p>
  RSA is recognized as an industry leader in providing sophisticated, technical PC software products for many different types of automobile and motorcycle racing, focused primarily on the drag racing market. A wide range of software products have been developed since 1985, and RSA now has thousands of satisfied customers around the globe.
</p>

{% endblock %}