{% extends 'base.html' %}

{% block content %}
<title>{% block title %}Home{% endblock %}</title>
  <h1>Ready to Start Winning?</h1>
  <p>For nearly 40 years, Racing Systems Analysis (RSA) has been developing motorsports performance software for everyone from the street enthusiast to the Professional Drag Racer. Unlike others, we use our years of expertise in science and mathematics to accurately calculate performance. In order to continue providing our customers with the best services and tools possible, we are working on a brand new experience. Check back soon if you are ready to stop relying on the "law of averages," and start winning!</p>

{% endblock %}