{% extends 'base.html' %}

{% block content %}
  <title>{% block title %}Plans{% endblock %}</title>
  <h1>RSA Plans</h1>
  <p>
    When revamping the RSA software, our main goal was to provide everyone with the ability to use the same tools as the professionals. We have compiled three teirs of packages to give you the ability to choose what best suits your needs.
  </p>
<p>
  With any package selection, you will have the ability to upgrade, downgrade, or cancel at any time. All we ask is that if you do cancel, please let us know why so that we can continue making improvements and win you back in the future!
</p>


{% endblock %}